/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

/* Using a Major Third modular scale:
   https://www.modularscale.com/?18&px&1.25
*/

/* Base Styles */

html {
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.2222222222em; /* 22px / 18px = 1.2222222222em */
  padding: 1.2222222222em 1.8333333333em; /* 33px / 18px = 1.8333333333em */
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1 {
  font-size: 1.953125em; /* 35.15625px / 18px = 1.953125em */
  line-height: 1.2515555556em; /* 44px / 35.15625px = 1.2515555556em */
  padding-bottom: 0.6111111111em; /* 11px / 18px = 0.6111111111em */
}

h2 {
  font-size: 1.5625em; /* 28.125px / 18px = 1.5625em */
  line-height: 1.4222222222em; /* 40px / 28.125px = 1.4222222222em */
}

.photo figcaption {
  left: -10000px;
  position: absolute;
}

p {
  padding-top: 0.6111111111em; /* 11px / 18px = 0.6111111111em */
  padding-bottom: 0.6111111111em; /* 11px / 18px = 0.6111111111em */
}

.copyright {
  font-size: 0.8em; /* 14.4px / 18px = 0.8em */
  padding-top: 1.2222222222em; /* 22px / 18px = 1.2222222222em */
}

/* Responsive Media */

img {
  display: block;
  max-width: 100%;
}

/* Layout */

/* State Styles */
